<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas Only | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main id="missions">
        <h1>Ninja Missions</h1>
        <table>
            <thead>
                <td><i class="fa fa-check-square" aria-hidden="true"></i>Open</td>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <form method="POST" action="task-closed">
                            <input name="close-mission" value="Pick Your Nose">
                            <button type="submit">Close Mission</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" action="task-closed">
                            <input name="close-mission" value="Find the Purple Crayon">
                            <button type="submit">Close Mission</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" action="task-closed">
                            <input name="close-mission" value="Quit Crossfit">
                            <button type="submit">Close Mission</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" action="task-closed">
                            <input name="close-mission" value="Contemplate your life, Figure out where it all went wrong :(..">
                            <button type="submit">Close Mission</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <td><i class="fa fa-minus-square" aria-hidden="true"></i>Taken</td>
            </thead>
        </table>
        <table>
            <thead>
                <td><i class="fa fa-window-close" aria-hidden="true"></i>Closed</td>
            </thead>
        </table>
    </main>

    <script src="https://use.fontawesome.com/8feb4bfacc.js"></script>
    
</body>
</html>