  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas Only | Login</title>
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <h1>Enter Passcode</h1>
        <form id="login-register" method="POST" action="/login">
            <input type="text" name="username" placeholder="Ninja Name">
            <input type="password" name="password" placeholder="Ninja Code">
            <button type="submit">Submit</button>
            <p>Not a master Ninja? &nbsp; <a href="/register">Register</a></p>
        </form>
    </main>
</body>
</html>