<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas Only | Register</title>
    <link href="https://fonts.googleapis.com/css?family=Spectral:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
     <main>
        <h1>Ninja Sign Up</h1>
        <form id="login-register" method="POST" action="/">
            <input type="text" name="username" placeholder="Ninja Name">
            <input type="password" name="password" placeholder="Ninja Code">
            <select name="weapon">
                <option disabled selected>Select Weapon</option>
                <option>Ninja Bow</option>
                <option>Ninja Knife</option>
                <option>Ninja Star</option>
                <option>Chopsticks (experts only)</option>
            </select>
            <button type="submit">Submit</button>
            <p>Already a master Ninja? &nbsp;<a href="/login">Login</a></p>
        </form>
    </main>
</body>
</html>